Adafruit-Blinka==5.9.2
Adafruit-PlatformDetect==2.23.0
Adafruit-PureIO==1.1.8
bleach==3.2.1
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
colorama==0.4.4
cryptography==3.3.1
docutils==0.16
idna==2.10
importlib-metadata==3.3.0
jeepney==0.6.0
keyring==21.8.0
numpy==1.19.5
packaging==20.8
pkginfo==1.6.1
pycparser==2.20
pyftdi==0.52.0
Pygments==2.7.3
pyparsing==2.4.7
pyserial==3.5
pyusb==1.1.0
PyYAML==5.3.1
readme-renderer==28.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
SecretStorage==3.3.0
six==1.15.0
tqdm==4.55.1
twine==3.3.0
typing-extensions==3.7.4.3
urllib3==1.26.2
VPi @ file:///home/aananth/workspace/github/virtual-pi
webencodings==0.5.1
zipp==3.4.0
